:root{
    --main-color:#6c98a2;
    --main_bg_clr: #fbf9f4;
    --gray-color:#626262;
    --main_box_shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);


}
a{
  text-decoration: none;
}
h3{
  color: var(--gray-color);
  font-size: 21px;
}
.active{
  color: gray;
}

